* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --blue-100: #080815;
    --blue-200: #0E0F25;
    --blue-300: #141534;
    --blue-400: #1F2151;
    --blue-500: #2F3279;
    --blue-600: #2F34AB;
    --blue-700: #4A5DCD;
    --blue-800: #7D8DEC;
    --blue-900: #B2B8DE;
    --white: #F1F2F6;

    --ff-inter: "Inter", sans-serif;
    --heading: 700 32px/48px var(--ff-inter);
    --button: 600 16px/20px var(--ff-inter);
    --body: 400 16px/20px var(--ff-inter);
    --label: 400 12px/16px var(--ff-inter);

    --span: 400 16px/20px "IBM Plex Mono", monospace;

    --logo: 400 20px/23px "Monomaniac One", sans-serif;
}