.result-container {
    width: 480px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding: 40px;
    background-color: var(--blue-400);
    border-radius: 0 0 24px 24px;
}

.result-quote {
    font: var(--span);
    color: var(--blue-800);
}

.result-value {
    font: var(--heading);
    color: var(--white);
}