body {
    background-image: url(../assets/background.png);
    background-size: cover;
    background-position: center;

    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

header {
    display: flex;
    align-items: end;
    gap: 8px;

    img {
        width: 17px;
    }
    
    h1 {
        font: var(--logo);
        letter-spacing: 20%;
        color: var(--blue-700);
    }
}

main {
    width: 480px;
}

form {
    border: 1px solid var(--blue-500);
    border-radius: 24px;
    background-color: var(--blue-300);
    padding: 56px 64px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.border-form {
    border-bottom: none;
    border-radius: 24px 24px 0 0;
}

label {
    display: block;
    font: var(--label);
    color: var(--blue-900);
    margin-bottom: 8px;

    &:focus-within {
        color: var(--blue-700);
    }
}

input, select, button {
    width: 100%;
    padding: 16px 20px;
    border-radius: 8px;
    color: var(--white);
}

input, select {
    background-color: var(--blue-200);
    border: 1px solid var(--blue-400);
    font: var(--body);

    &:focus {
        border: 1px solid var(--blue-700);
        outline: none;
    }
}

select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;

    background-image: url(../assets/setinha.svg);
    background-repeat: no-repeat;
    background-position: calc(100% - 20px) center;
}

button {
    background-color: var(--blue-600);
    border: none;
    margin-top: 28px;
    font: var(--button);
    transition: background-color 150ms;
    outline: none;
    cursor: pointer;

    &:hover, &:focus {
        background-color: var(--blue-700);
    }

    &:active {
        background-color: var(--blue-600);
    }
}

button:disabled {
    background-color: #8B8ECF;
    color: #C2C4D6;
}

.result-container {
    background-color: var(--blue-400);
    border: 1px solid var(--blue-500);
    border-top: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding: 40px;
    border-radius: 0 0 24px 24px;

    position: relative;
    z-index: -1;
    transform: scaleY(1) translateY(0);
    opacity: 1;
    transition: 
        opacity ease-in-out 250ms,
        transform ease-in-out 350ms
    ;       

    .result-quote {
        font: var(--span);
        color: var(--blue-800);
    }

    .result-value {
        font: var(--heading);
        color: var(--white);
    }
}

.display-none {
    transform: scaleY(0.5) translateY(-200px);
    opacity: 0;
}

@media (height < 680px) {
    body {
        height: auto;
        padding-block: 50px;
    }
}

@media (width < 720px) {

    main {
        width: 260px;
    }

    input, select, button {
        padding: 10px 15px;
    }

    form {
        border-radius: 24px;
        padding: 40px;
        gap: 10px;
    }

    button {
        margin-top: 12px;
    }

    .result-container {
        padding: 25px;
    }

    :root {
        --heading: 700 25px/38px var(--ff-inter);
        --button: 600 13px/16px var(--ff-inter);
        --body: 400 13px/16px var(--ff-inter);
        --label: 400 10px/13px var(--ff-inter);

        --span: 400 13px/16px "IBM Plex Mono", monospace;

        --logo: 400 20px/23px "Monomaniac One", sans-serif;
    }
}